@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lumanosimo&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: white;
    --list-hover-text-color: rgba(0, 0, 0, .2);
    --h6-order-rate-color: #00a950;
    --paragraph-color: rgba(0, 0, 0, 0.5);
    --list-font-size: 1.2rem;
    --list-font-weight: 600;
    --content-font-size: 1rem;
    --content-font-color: gray;
    --off-white-bg: #fbf8f2;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

/* yellow card in the top right part of the screen */
header::before {
    content: '';
    position: absolute;
    width: 38%;
    height: 100%;
    right: 3%;
    background: linear-gradient(0deg, #ffb12a, #fec140);
    border-radius: 0 50px 0 0;
    z-index: -1;
}

header nav {
    margin: 0 auto;
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo_ul{
    display: flex;
    align-items: center;
}

/* gave dimensions to the chef img logo */
header nav .logo_ul img {
    filter: drop-shadow(4px 4px 4px var(--paragraph-color));
    width: 60px;
}

/* setting the display of ul as flex so as to align them in center */
header nav .logo_ul ul{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

/* removing the bullets from the list items */
header nav .logo_ul ul li{
    list-style-type: none;
    padding: 1em 2.5em;
    margin-right: 12px;
}

/* removing the underline from anchor tags */
header nav .logo_ul ul li a{
    text-decoration: none;
    color: black;
    font-size: var(--list-font-size);
    font-weight: var(--list-font-weight);
    transition: .3s linear;
}

/* targeting the last element in the list */
header nav .logo_ul ul li:nth-last-child(1) {
    background: #8CCA72;
    border-radius: 1em;
    padding: 5px 15px;
}

/* targeting the anchor tag in the last element of the list */
header nav .logo_ul ul li:nth-last-child(1) a{
    color: var(--white);
}

/* gave margin to the MENU_icon */
header nav .logo_ul ul li:nth-last-child(1) a i{
    margin-left: 5px;
}

/* hover effect for anchor tags */
header nav .logo_ul ul li a:hover{
    color: var(--list-hover-text-color);
}

/* .contact_select styling starts here */
header nav .contact_select {
    display: flex;
    align-items: center;
}

/* accessing the list elements inside .contact_select class*/
header nav .contact_select li {
    display: flex;
    align-items: center;
    padding: .5em 2.5em;
    font-size: var(--list-font-size);
    font-weight: var(--list-font-weight);
}

/* removing the bullets from the list elements */
header nav .contact_select li a {
    margin-left: 12px;
    text-decoration: none;
}

/* targeting the 2nd element of the list */
header nav .contact_select li:nth-child(2) select {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    font-size: var(--list-font-size);
    background: var(--white);
    border-radius: 1em;
    border: none;
    padding: 5px 15px;
    width: auto;
    margin-left: 20px;
}

/* section styling starts here */
section{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

/* styling for the chilli icons and ingredients images */
section .content, .img_box{
    position: relative;
    width: 40%;
    padding: 10px;
}

/* styling for only the ingredients images */
section .img_box{
    width: 60%;
}

/* styling for the cuisines box */
section .content h5 {
    display: unset;
    color: var(--white);
    background: #a98eb6;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    border-left: 10px solid #660099;
    font-size: var(--content-font-size);
}

/* styling for the mexican cuisine title-box */
section .content h1 {
    filter: drop-shadow(1px 1px 2px var(--paragraph-color));
    margin-block: 1em .25em; 
    font-family: 'Lumanosimo', cursive;
    letter-spacing: 3px;
    font-size: 2.2rem;
    font-family: 'Libre Caslon Display', serif;
}

/* styling for the chilli icons only*/
section .content .spicy_icon {
    margin-bottom: 1em;
}

/* styling for the cuisines description */
section .content p {
    text-align: justify;
    width: 350px;
    height: 200px;
    line-height: 1.5em;
    font-size: 1.1rem;
    color: var(--content-font-color);
}

/* styling for the ingredients heading */
section .content h6 {
    margin-top: 20px;
    color: var(--content-font-color);
    font-size: var(--content-font-size);
}

/* accessing the ingredients images box */
section .content .img_box {
    display: flex; 
    align-items: center; 
}

/* accessing the images in images box */
section .content .img_box img {
    width: 30px;
    margin-right: 10px;
    filter: drop-shadow(2px 2px 2px gray);
}

/* styling the +3 heading */
section .content .img_box h6 {
    background: var(--h6-order-rate-color);
    color: var(--white);
    border-radius: 50%;
    padding: 10px;
    position: relative;
    top: -10px;
}

/* accessing the order rate boxx */
section .content .order_rate {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* styling the anchor tage in order rate boxx */
section .content .order_rate a {
    font-weight: var(--list-font-weight);
    background: #000;
    color: var(--white);
    border-radius: 10px;
    padding: 7px 15px;
    text-decoration: none;
    font-size: var(--content-font-size);
    transition: .3s linear;
}

/* adding a hover class over the anchor tag */
section .content .order_rate a:hover {
    background: var(--h6-order-rate-color);
} 

/* styling the price heading beside order rate boxx */
section .content .order_rate .price {
    margin-left: 30px;
    color: var(--h6-order-rate-color);
}

/* setting scroll properties of the food slider */
section .content .food_slider {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width:none; /* hiding the scroll-bar for firefox */
}

/* hiding the scroll-bar for chrome */
section .content .food_slider::-webkit-scrollbar {
    display: none;
}

/* styling each image within the food slider */
section .content .food_slider img {
    filter: drop-shadow(2px 2px 2px var(--paragraph-color));
    width: 60px;
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
    opacity: .3;
    transition: .3s linear;
    object-fit: contain;
}

/* giving the 1st image in the slider a opacity-1 using pseudo-class */
section .content .food_slider img:nth-child(1) {
    opacity: 1;
    transform: scale(1.1);
}

/* adding hover effect over each image in the slider and also scaling them */
section .content .food_slider img:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* setting scroll properties of the img_box */
section .img_box .images {
    width: 100%;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    overflow-x: auto;
    margin-top: 50px;    
    scrollbar-width:none; /* hiding the scroll-bar for firefox */
}

/* hiding the scroll-bar for chrome */
section .img_box .images::-webkit-scrollbar {
    display: none;
}

/* styling each image withing the box */
section .img_box .images img {
    width: 20em;
    padding: 0 50px;
    filter: blur(1.5px);
    transition: .3s linear;
}

/* accessing the 1st element from the image box and styling it */
section .img_box .images img:nth-child(1) {
    width: 560px;
    filter: blur(0px) drop-shadow(4px 4px 6px var(--paragraph-color));
}

section .img_box .images img:last-child {
    margin-right: 400px;
}

/* styling the slider buttons */
section .img_box .slide_buttons {
    position: absolute;
    bottom: 10px;
    left: 21.5%;
    width: 14em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* styling the icons within the buttons */
section .img_box .slide_buttons i {
    font-size: 2em;
    background: #ff6b01;
    color: var(--white);
    border-radius: 50%;
    padding: 10px 12px;
    cursor: pointer;
    transition: .3s linear;
}
/* section styling ends here */

/* delivery section styling starts here */
.delivery {
    width: 100%;
    margin: auto;
    background: var(--off-white-bg);
    height: auto;
    padding: 40px 7%;
    display: flex;
    align-items: center;
}

/* styling the title of delivery class */
.delivery .container h1 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.2em;
}

/* styling the paragraph in delivery class */
.delivery .container p {
    font-size: 1.1rem;
    color: var(--paragraph-color);
    line-height: 1.5em;
    margin: 15px 0;
}

/* styling the button in delivery class */
.delivery .container button {
    font-weight: var(--list-font-weight);
    background: var(--h6-order-rate-color);
    border-radius: 10px;
    padding: 9px 15px;
    color: var(--white);
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s linear;
}

/* adding a hover effect over the button */
.delivery .container button:hover {
    background: black;
}

/* styling the delivery boy image */
.delivery img:nth-child(2) {
    width: 30em;
    transform: translateX(-120px) translateY(20px);
}

/* styling the food lover image */
.delivery img:nth-child(3) {
    width: 15em;
    transform: translateX(-120px) translateY(10px);
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
}
/* delivery section styling ends here */

/* food_menu styling starts here */
.food_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* styling every food_box in the 1st row */
.food_menu .food_box{
    overflow: hidden;
    color: var(--white);
    position: relative;
    width: 30%;
    height: 450px;
    background: #006847;
    padding: 60px 50px;
    z-index: 2;
}

/* targeting the 2nd food_box in the 1st row*/
.food_menu .food_box:nth-child(2){
    width: 37%;
    background: #FF671F;
}

/* targeting the 3rd food_box in the 1st row*/
.food_menu .food_box:nth-child(3){
    width: 33%;
    background: #CD212A;
}

/* styling the food_box container */
.food_menu .food_box .container {
    position: relative;
    z-index: 2;
}

/* styling the heading within the food_box container */
.food_menu .food_box .container h1{
    filter: drop-shadow(2px 2px 2px var(--paragraph-color));
    font-family: 'Lumanosimo', cursive;
    letter-spacing: 3px;
    font-weight: var(--list-font-weight);
    margin-bottom: 10px;
}

/* styling the paragraph within the food_box container */
.food_menu .food_box .container p{
    filter: drop-shadow(2px 2px 2px var(--paragraph-color));
    line-height: 1.5em;
    margin-top: 10px;
}

/* styling the button within the food_box container */
.food_menu .food_box .container button{
    font-weight: var(--list-font-weight);
    letter-spacing: 3px;
    background: black;
    border-radius: 10px;
    padding: 9px 15px;
    color: var(--white);
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s linear;
}

/* targeting images of the food_box*/
.food_menu .food_box img {
    filter: drop-shadow(-15px 0px 4px var(--paragraph-color));
    position: absolute;
    left: 53%;
    top: -4%;
    width: 30em;
    z-index: -1;
}

/* targeting the image in the 2nd food_box in the 1st row*/
.food_menu .food_box:nth-child(2) img {
    position: absolute;
    left: 55%;
    top: 6%;
    width: 25em;
    z-index: -1;
}

/* targeting the image in the 3rd food_box in the 1st row*/
.food_menu .food_box:nth-child(3) img {
    position: absolute;
    left: 59%;
    top: 6%;
    width: 25em;
    z-index: -1;
}

/* styling every food_box in the 2nd row */
.food_menu2 .food_box {
    overflow: hidden;
    position: relative;
    width: 35%;
    height: 450px;
    background: #3c3b6e;
    padding: 30px 50px;
    /* padding: 60px 50px; */
    z-index: 2;
}

/* targeting the 2nd food_box in the 2nd row*/
.food_menu2 .food_box:nth-child(2) {
    width: 37%;
    background: #be0029;
}

/* targeting the 3rd food_box in the 2nd row*/
.food_menu2 .food_box:nth-child(3) {
    width: 28%;
    background: #2D2A4A;
}

/* targeting the image in the 2nd food_box in the 2nd row*/
.food_menu2 .food_box:nth-child(3) img{
    position: absolute;
    left: 50%;
    top: 3%;
    width: 30em;
    z-index: -1;
}
/* food_menu styling ends here */

/* footer styling starts here */
footer {
    overflow: hidden;
    width: 100%;
    height: auto;
    background: var(--off-white-bg);
    position: relative;
}

/* styling the nav bar in footer */
footer nav {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

/* stylig the unordered list within nav */
footer nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

/* styling the list elements */
footer nav ul li {
    margin: 5px 10px;
}

/* styling the anchor tag in the list */
footer nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: var(--list-font-weight);
    font-size: var(--list-font-size);
    transition: .3s linear;
}

/* adding a hover effect over the anchor tag */
footer nav ul li a:hover{
    color: rgba(0, 0, 0, 0.6);
}

/* accessing the anchor tag of the 1st list item */
footer nav ul li:nth-child(1) a{
    background: #FF671F;
    color: var(--white);
    padding: 9px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .3s linear;
    margin-top: 10px;
    margin-right: 10px;
}

/* accessing the icon of the 1st list item */
footer nav ul li:nth-child(1) a i{
    margin-left: 10px;
}

/* accessing the anchor tag of the 2nd unordered list within the nav */
footer nav ul:nth-child(2) li a {
    all: unset;
    color: var(--h6-order-rate-color);
    font-weight: bold;
    font-size: 1.3rem;
}

/* accessing the anchor tag of the 2nd list item in the 2nd unordered list  */
footer nav ul:nth-child(2) li:nth-child(2) a {
    background: var(--white);
    color: black;
    padding: 9px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .3s linear;
    margin-top: 10px;
    margin-right: 10px;
}

footer nav ul:nth-child(2) li:nth-child(2) select {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    background: var(--white);
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    padding: 9px 15px;
    width: auto;
    margin-left: 20px;
    cursor: pointer;
    transition: .3s linear;
}

/* styling the hr tag in the footer */
footer hr {
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

/* styling the .container div */
footer .container{
    width: 85%;
    margin: auto;
    margin-top: 40px;
}

/* styling the title in .container */
footer .container h1{
    filter: drop-shadow(2px 2px 1px var(--paragraph-color));
    margin-top: 5px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1em;
    color: #8CCA72;
}

/* styling the 2nd title in .container */
footer .container h1:nth-child(2) {
    color: var(--h6-order-rate-color);
}

/* styling the .button div */
footer .container .button {
    margin-top: 20px;
}

/* styling the buttons in .button */
footer .container .button button {
    margin-right: 20px;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 10px;
    color: var(--white);
    background: black;
    font-weight: var(--list-font-weight);
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s linear;
}

/* adding a hover effect over the buttons */
footer .container .button button:hover {
    background: #8CCA72;
}

/* giving a seperate hover effect to the 2nd button */
footer .container .button button:nth-child(2):hover {
    background: var(--h6-order-rate-color);
}

/* adjusting the footer image */
footer img {
    filter: drop-shadow(8px 8px 10px var(--list-hover-text-color));
    position: absolute;
    right: 10%;
    bottom: 5%;
    width: 15em;
    height: auto;
}

/* styling the copyright para */
footer .copyright {
    color: var(--paragraph-color);
    width: 85%;
    margin: auto;
    margin-top: 20px;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
/* footer styling ends here */